{{ define "main" }}
  <div box-="double round" style="--box-border-color: var(--foreground0);">
    <h2>Blog Posts</h2>
    {{ range .Pages }}
      <a href="{{ .Permalink }}" class="post-card-link">
        <div box-="round" shear-="top" style="--box-border-color: var(--foreground2);" class="post-card">
          <div class="header">
            <span style="color: var(--maroon);"># {{ .Title }}</span>
            <span is-="badge" variant-="info">{{ .Date.Format "2006-01-02" }}</span>
          </div>
          <span is-="badge" variant-="green">Blog</span>
          <p>{{ .Summary | truncate 500 }}</p>
        </div>
      </a>
    {{ end }}
  </div>
{{ end }}
