<header>
  <div box-="round" shear-="top" style="--box-border-color: var(--foreground2);">
    <div class="header">
      <span>navbar</span>
    </div>
    <div class="nav-inner" style="padding: 0.5rem 1ch;">
      <a href="/" class="brand">fullstackbrett</a>
      
      <button id="nav-toggle" aria-expanded="false" aria-controls="nav-links">
        ☰
      </button>
      
      <nav id="nav-links" role="navigation" aria-label="Main navigation">
        {{ range .Site.Menus.main }}
        {{ if eq .Name "Home" }}
        <a href="{{ .URL }}" class="nav-button"><button variant-="blue">{{ .Name }}</button></a>
        {{ else if eq .Name "Blog" }}
        <a href="{{ .URL }}" class="nav-button"><button variant-="green">{{ .Name }}</button></a>
        {{ else if eq .Name "TIL" }}
        <a href="{{ .URL }}" class="nav-button"><button variant-="yellow">{{ .Name }}</button></a>
        {{ else }}
        <a href="{{ .URL }}" class="nav-button"><button variant-="lavender">{{ .Name }}</button></a>
        {{ end }}
        {{ end }}
      </nav>
    </div>
  </div>
</header>