<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ .Title }} | {{ .Site.Title }}</title>
  <style>
    @layer base, utils, components;
  </style>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@webtui/css@0.1.3/dist/full.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@webtui/theme-catppuccin@latest/index.css">
  <style>
    :root {
      --font-family: "JetBrainsMono", monospace;
      --box-border-color: var(--foreground0);
      --box-rounded-radius: 4px;
      --box-border-width: 1px;
      --box-double-border-width: 2px;
    }
    .header {
      display: flex;
      justify-content: space-between;
      background-color: var(--background0);
      padding: 0 1ch;
    }
    .header span {
      background-color: var(--background0);
      padding: 0 1ch;
    }
  </style>
</head>
