{{ define "main" }}
  <div box-="double round" style="--box-border-color: var(--foreground0);">
    <h2>Recent Updates</h2>
    {{ $pages := union (where .Site.Pages "Section" "blog") (where .Site.Pages "Section" "til") }}
    {{ $pages = where $pages "Kind" "page" }}
    {{ $pages = $pages.ByDate.Reverse }}
    <div>
      {{ range first 10 $pages }}
        <a href="{{ .Permalink }}" class="post-card-link">
          <div box-="round" shear-="top" style="--box-border-color: var(--foreground2);" class="post-card">
            <div class="header">
              <span>{{ .Title }}</span>
              <span is-="badge" variant-="info">{{ .Date.Format "2006-01-02" }}</span>
            </div>
            {{ if eq .Section "til" }}
              <span is-="badge" variant-="yellow">TIL</span>
              <p>{{ .Summary | truncate 250 }}</p>
            {{ else }}
              <span is-="badge" variant-="green">Blog</span>
              <p>{{ .Summary | truncate 500 }}</p>
            {{ end }}
          </div>
        </a>
      {{ end }}
    </div>
  </div>
{{ end }}
